@tailwind base;
@tailwind components;
@tailwind utilities;



.swiper {
  width: 380px;
  height: 520px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}


@layer utilities {
  @keyframes fade-in {
    from { opacity: 0 }
    to { opacity: 1 }
  }

  @keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in 1s ease forwards;
  }

  .animate-slide-up {
    animation: slide-up 1s ease forwards;
  }

  .delay-100 {
    animation-delay: 0.1s;
  }
  .delay-300 {
    animation-delay: 0.3s;
  }
  .delay-500 {
    animation-delay: 0.5s;
  }
}